@use './reset.scss';

body {
  background-color: $color-bg;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow-y: auto;
  will-change: transform;
  contain: layout paint;
}
