@use './reset.scss';

html {
  font-family: inter, sans-serif, arial, helvetica;
}

body {
  background-color: $color-bg;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow-y: auto;
  will-change: transform;
  contain: layout paint;
}

@font-face {
  font-family: 'inter';
  src: url('/src/assets/fonts/inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
