@use 'styles/_variables' as *;

.base {
  border: 2px solid $color-border;
  border-radius: 8px;
  transition: 0.3s;

  &:active {
    transition: none;
    transform: scale(0.98);
  }
}

.size- {
  &small {
    padding: 8px 12px;
  }

  &medium {
    padding: 10px 15px;
  }

  &large {
    padding: 12px 20px;
  }
}

.variant- {
  &primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &outline {
    color: $color-text;
    background-color: $color-white;

    &:hover {
      background-color: $color-bg;
    }
  }
}

.cursor- {
  &default {
    cursor: default;
  }

  &pointer {
    cursor: pointer;
  }

  &not-allowed {
    cursor: not-allowed;
  }
}

.disabled {
  background-color: #ccc;

  &:hover {
    background-color: #cccccccc;
  }

  &:active {
    transform: none;
  }
}
