.heroBlock {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.textBlock {
}

.imageWrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 65%;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
