.base {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.color {
  &White {
    color: $color-white;
  }

  &Text {
    color: $color-text;
  }
}

.as {
  &H1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1.2%;
  }

  &H2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -1.75%;
  }

  &H3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.6%;
  }

  &H4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.6%;
  }

  &P {
    font-size: 16px;
    line-height: 28px;
  }

  &Blockquote {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;

    &::before {
      content: '';
      border: 2px solid $color-border;
      width: 0;
      height: auto;
      margin-right: 28px;
    }
  }

  &UlList {
    list-style: disc;

    &Item {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &OlList {
    list-style: decimal;

    &Item {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &InlineCode {
    font-family: monospace;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 3px 4px;
    border-radius: 3px;
    background-color: $color-border;
  }

  &Lead {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

.size {
  &Large {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }

  &Medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
  }

  &Small {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  &Subtle {
    color: $color-text-muted;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.listStyle {
  &None {
    list-style: none;
  }
}
