.base {
  border: 2px solid $color-border;
  border-radius: 8px;
  transition: 0.3s;

  &:active {
    transition: none;
    transform: scale(0.98);
  }
}

.size {
  &Small {
    padding: 8px 12px;
  }

  &Medium {
    padding: 10px 15px;
  }

  &Large {
    padding: 12px 20px;
  }
}

.variant {
  &Primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &Outline {
    color: $color-text;
    background-color: $color-white;

    &:hover {
      background-color: $color-bg;
    }
  }

  &Accent {
    color: $color-text;
    background-color: $color-accent;

    &:hover {
      background-color: $color-accent-hover;
    }
  }
}

.cursor {
  &Default {
    cursor: default;
  }

  &Pointer {
    cursor: pointer;
  }

  &NotAllowed {
    cursor: not-allowed;
  }
}

.disabled {
  background-color: #ccc;

  &:hover {
    background-color: #cccccccc;
  }

  &:active {
    transform: none;
  }
}
